@font-face { font-family: "Trebuchet-MS"; src: url("../fonts/Trebuchet-MS-Regular_.eot"); src: url("../fonts/Trebuchet-MS-Regular_.eot?#iefix") format("embedded-opentype"), url("../fonts/Trebuchet-MS-Regular_.woff") format("woff"), url("../fonts/Trebuchet-MS-Regular_.ttf") format("truetype"), url("../fonts/Trebuchet-MS-Regular_.svg#Trebuchet-MS-Regular_") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: "Trebuchet-MS-Italic"; src: url("../fonts/Trebuchet-MS-Italic.eot"); src: url("../fonts/Trebuchet-MS-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Trebuchet-MS-Italic.woff") format("woff"), url("../fonts/Trebuchet-MS-Italic.ttf") format("truetype"), url("../fonts/Trebuchet-MS-Italic.svg#Trebuchet-MS-Italic") format("svg"); font-weight: normal; font-style: italic; }

@font-face { font-family: "MonotypeCorsiva"; src: url("../fonts/monotype_corsiva.eot"); src: url("../fonts/monotype_corsiva.eot") format("embedded-opentype"), url("../fonts/monotype_corsiva.woff") format("woff"), url("../fonts/monotype_corsiva.ttf") format("truetype"), url("../fonts/monotype_corsiva.svg#MonotypeCorsivaRegular") format("svg"); }

* { margin: 0; padding: 0; }

html, body { height: 100%; }

body { min-width: 1025px; font-family: Trebuchet-MS, Arial, Tahoma, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.2; }

a img, fieldset { border: none; }

a { color: #2c2c2c; text-decoration: none; }

p { line-height: 1.2; }

li { list-style: none; }

textarea, button, select, input { border: none; outline: none; font-family: Trebuchet-MS, Arial, Tahoma, sans-serif; -moz-user-select: none; -webkit-user-select: none; user-select: none; }

button { line-height: 1; cursor: pointer; }
button::-moz-focus-inner { padding: 0; border: 0; }

table { border-spacing: 0; border-collapse: collapse; }

.l-wrapper { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -101px; background: url(../img/bg.jpg) 0 0 repeat-y; background-size: 100% 100%; }

.wrapper { position: relative; width: 990px; margin: 0 auto 20px; z-index: 10; }

.push { height: 101px; clear: both; }

.h1 { text-align: center; font: italic 36px Trebuchet-MS-Italic, Arial, Tahoma, sans-serif; color: #e10000; }

.h2 { font: 26px Calibri, sans-serif; color: #e10000; }

.btn { width: 166px; height: 40px; -webkit-border-radius: 6px; -moz-border-radius: 6px; -ms-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px; background: url(../img/btn.png) 0 0 no-repeat; -webkit-box-shadow: 1px 2px 3px rgba(1, 1, 1, 0.06); -moz-box-shadow: 1px 2px 3px rgba(1, 1, 1, 0.06); box-shadow: 1px 2px 3px rgba(1, 1, 1, 0.06); font: italic 15px Trebuchet-MS-Italic, Arial, Tahoma, sans-serif; color: #e10000; }
.btn:hover { background: url(../img/btn-hover.png) 0 0 no-repeat; }
.btn:active { background: url(../img/btn-active.png) 0 0 no-repeat; }

.btn_inactive { background: url(../img/btn-inactive.png) 0 0 no-repeat; color: #f3a9a9; }

.input { width: 200px; height: 40px; -moz-box-sizing: border-box; box-sizing: border-box; padding: 0 12px; border: 1px solid #d2d2d2; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; background: white; font: italic 19px Trebuchet-MS-Italic, Arial, Tahoma, sans-serif; color: #666666; }

.input_short { width: 149px; }

.radio { display: inline-block; position: relative; }
.radio input { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
.radio input + span { position: absolute; top: 0px; left: 0px; width: 14px; height: 14px; cursor: pointer; -webkit-border-radius: 7px; -moz-border-radius: 7px; -ms-border-radius: 7px; -o-border-radius: 7px; border-radius: 7px; border: 1px solid #c4c2c2; -moz-box-sizing: border-box; box-sizing: border-box; background: #d6d6d6; -webkit-box-shadow: 0 0 8px #fbbfbf; -moz-box-shadow: 0 0 8px #fbbfbf; box-shadow: 0 0 8px #fbbfbf; }
.radio input:checked + span:after { content: ""; position: absolute; top: 2px; left: 2px; width: 8px; height: 8px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; background: #ed1c24; background-image: -webkit-gradient(radial, center 33%, 0, center 33%, 100, color-stop(0%, #e10000), color-stop(100%, #b11022)); background-image: -webkit-radial-gradient(center 33%, 126px 126px, #e10000 0%, #b11022 100%); background-image: -moz-radial-gradient(center 33%, 126px 126px, #e10000 0%, #b11022 100%); background-image: -o-radial-gradient(center 33%, 126px 126px, #e10000 0%, #b11022 100%); background-image: radial-gradient(center 33%, 126px 126px, #e10000 0%, #b11022 100%); }

.header { padding: 0 25px; }
.header:before, .header:after { content: ""; display: table; }
.header:after { clear: both; }

.logo { float: left; width: 340px; margin-top: 16px; }
.logo a { display: block; background: url('../img/icons-sab2538c200.png') 0 0 no-repeat; width: 340px; height: 116px; }

.menu { float: left; width: 298px; margin-top: 60px; }
.menu:before, .menu:after { content: ""; display: table; }
.menu:after { clear: both; }
.menu li { float: left; width: 33%; text-align: center; vertical-align: top; -moz-box-sizing: border-box; box-sizing: border-box; }
.menu li a { text-decoration: underline; text-transform: uppercase; color: #bc8d03; font: 14px Arial, sans-serif; }
.menu li a:hover { text-decoration: none; }
.menu li a:active { color: #663300; text-decoration: none; }
.menu li a.current { color: #e10000; text-decoration: none; }
.menu li a.profile-link { display: inline-block; width: 55px; text-align: right; text-decoration: none; text-transform: none; }
.menu li a.profile-link:hover { text-decoration: underline; }
.menu li a.profile-link p { font-size: 12px; }

.menu_right { text-align: right; }
.menu_right li { float: right; width: auto; max-width: 120px; margin-right: 13px; }

.avatar { display: inline-block; width: 35px; height: 33px; margin-bottom: 5px; overflow: hidden; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #dcdede; }

.container { padding: 25px 25px 0; }

.l-footer { position: relative; height: 101px; background: white; }

.footer-top { position: absolute; top: -11px; height: 11px; width: 100%; background: url(../img/footer-border.png) 0 0 repeat-x; }

.footer { max-width: 1025px; margin: 0 auto; -moz-box-sizing: border-box; box-sizing: border-box; padding-top: 40px; }
.footer:before, .footer:after { content: ""; display: table; }
.footer:after { clear: both; }

.copyrights { float: left; color: #69689c; margin-right: 10px; }

.footer__links { float: left; }
.footer__links li { display: inline-block; margin-right: 10px; }
.footer__links li a { color: #c39a1f; text-decoration: underline; }
.footer__links li a:hover { text-decoration: none; }

.footer__socials { position: relative; top: -5px; float: left; color: #69689c; }
.footer__socials span { position: relative; top: -7px; }
.footer__socials ul { display: inline-block; }
.footer__socials ul li { display: inline-block; }

.vk { display: block; background: url('../img/icons-sab2538c200.png') 0 -798px no-repeat; width: 25px; height: 25px; }
.vk:hover { background: url('../img/icons-sab2538c200.png') 0 -833px no-repeat; width: 25px; height: 25px; }
.vk:active { background: url('../img/icons-sab2538c200.png') 0 -868px no-repeat; width: 25px; height: 25px; }

.f { display: block; background: url('../img/icons-sab2538c200.png') 0 -903px no-repeat; width: 25px; height: 25px; }
.f:hover { background: url('../img/icons-sab2538c200.png') 0 -938px no-repeat; width: 25px; height: 25px; }
.f:active { background: url('../img/icons-sab2538c200.png') 0 -973px no-repeat; width: 25px; height: 25px; }

.od { display: block; background: url('../img/icons-sab2538c200.png') 0 -728px no-repeat; width: 25px; height: 25px; }
.od:hover { background: url('../img/icons-sab2538c200.png') 0 -763px no-repeat; width: 25px; height: 25px; }
.od:active { background: url('../img/icons-sab2538c200.png') 0 -693px no-repeat; width: 25px; height: 25px; }

@font-face { font-family: "Trebuchet-MS"; src: url("../fonts/Trebuchet-MS-Regular_.eot"); src: url("../fonts/Trebuchet-MS-Regular_.eot?#iefix") format("embedded-opentype"), url("../fonts/Trebuchet-MS-Regular_.woff") format("woff"), url("../fonts/Trebuchet-MS-Regular_.ttf") format("truetype"), url("../fonts/Trebuchet-MS-Regular_.svg#Trebuchet-MS-Regular_") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: "Trebuchet-MS-Italic"; src: url("../fonts/Trebuchet-MS-Italic.eot"); src: url("../fonts/Trebuchet-MS-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Trebuchet-MS-Italic.woff") format("woff"), url("../fonts/Trebuchet-MS-Italic.ttf") format("truetype"), url("../fonts/Trebuchet-MS-Italic.svg#Trebuchet-MS-Italic") format("svg"); font-weight: normal; font-style: italic; }

@font-face { font-family: "MonotypeCorsiva"; src: url("../fonts/monotype_corsiva.eot"); src: url("../fonts/monotype_corsiva.eot") format("embedded-opentype"), url("../fonts/monotype_corsiva.woff") format("woff"), url("../fonts/monotype_corsiva.ttf") format("truetype"), url("../fonts/monotype_corsiva.svg#MonotypeCorsivaRegular") format("svg"); }

@font-face { font-family: "Trebuchet-MS"; src: url("../fonts/Trebuchet-MS-Regular_.eot"); src: url("../fonts/Trebuchet-MS-Regular_.eot?#iefix") format("embedded-opentype"), url("../fonts/Trebuchet-MS-Regular_.woff") format("woff"), url("../fonts/Trebuchet-MS-Regular_.ttf") format("truetype"), url("../fonts/Trebuchet-MS-Regular_.svg#Trebuchet-MS-Regular_") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: "Trebuchet-MS-Italic"; src: url("../fonts/Trebuchet-MS-Italic.eot"); src: url("../fonts/Trebuchet-MS-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Trebuchet-MS-Italic.woff") format("woff"), url("../fonts/Trebuchet-MS-Italic.ttf") format("truetype"), url("../fonts/Trebuchet-MS-Italic.svg#Trebuchet-MS-Italic") format("svg"); font-weight: normal; font-style: italic; }

@font-face { font-family: "MonotypeCorsiva"; src: url("../fonts/monotype_corsiva.eot"); src: url("../fonts/monotype_corsiva.eot") format("embedded-opentype"), url("../fonts/monotype_corsiva.woff") format("woff"), url("../fonts/monotype_corsiva.ttf") format("truetype"), url("../fonts/monotype_corsiva.svg#MonotypeCorsivaRegular") format("svg"); }

.banner { position: relative; padding: 20px 60px 56px; text-align: center; font-family: Trebuchet-MS-Italic, sans-serif; font-style: italic; font-size: 19px; color: #505051; }

.banner__link { position: absolute; bottom: 32px; right: 29px; color: #e10000; font-size: 19px; font-family: Trebuchet-MS-Italic, sans-serif; font-style: italic; text-decoration: underline; }
.banner__link:hover { text-decoration: none; }
.banner__link:active { color: #990000; }
.banner__link:after { content: ""; position: absolute; top: 6px; right: -26px; background: url('../img/icons-sab2538c200.png') 0 -1094px no-repeat; width: 20px; height: 12px; }

.check { height: 125px; padding-left: 65px; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-box-shadow: 0px -25px 36px -29px #cccccc, 0px 25px 36px -29px #cccccc; -moz-box-shadow: 0px -25px 36px -29px #cccccc, 0px 25px 36px -29px #cccccc; box-shadow: 0px -25px 36px -29px #cccccc, 0px 25px 36px -29px #cccccc; }
.check:before, .check:after { content: ""; display: table; }
.check:after { clear: both; }

.check__img { position: relative; top: -34px; float: left; }

.check__text { float: left; width: 160px; text-align: center; padding: 23px 35px; font-size: 28px; color: #505051; }
.check__text span { font-size: 37px; }

.check__button { float: right; margin-top: 18px; }

.reg-check { display: inline-block; width: 431px; height: 88px; padding-top: 22px; text-align: center; font: italic 32px Calibri, sans-serif; color: #e50000; -moz-box-sizing: border-box; box-sizing: border-box; background: url(../img/check-btn.png) 0 0 no-repeat; }
.reg-check:hover { background: url(../img/check-btn-hover.png) 0 0 no-repeat; }
.reg-check:active { background: url(../img/check-btn-active.png) 0 0 no-repeat; }

.prize-list { margin-top: 39px; }
.prize-list:before, .prize-list:after { content: ""; display: table; }
.prize-list:after { clear: both; }

.prize { position: relative; float: left; width: 33%; -moz-box-sizing: border-box; box-sizing: border-box; text-align: center; }

.prize__title { padding-bottom: 20px; font-size: 24px; font-family: Trebuchet-MS-Italic, sans-serif; font-style: italic; color: #4f4f4f; }

.prize__img { min-height: 145px; overflow: hidden; z-index: 1; }

.prize__text { position: relative; padding: 0 70px; font-size: 19px; color: #bc8d03; z-index: 3; }

.prize__clouds, .prize__clouds2, .prize__clouds3 { position: absolute; bottom: -10px; left: 0; z-index: 2; }

.prize__clouds2 { bottom: -49px; right: 0px; left: auto; }

.prize__clouds3 { bottom: 8px; right: 13px; left: auto; }

.prize1 .prize__img { min-height: 114px; }
.prize1 .prize__title { padding-bottom: 31px; }

.prize2 .prize__img { min-height: 127px; }

.prize3 .prize__img { min-height: 135px; }
.prize3 .prize__title { padding-bottom: 10px; }
.prize3 .prize__text { padding: 0 62px; }

@font-face { font-family: "Trebuchet-MS"; src: url("../fonts/Trebuchet-MS-Regular_.eot"); src: url("../fonts/Trebuchet-MS-Regular_.eot?#iefix") format("embedded-opentype"), url("../fonts/Trebuchet-MS-Regular_.woff") format("woff"), url("../fonts/Trebuchet-MS-Regular_.ttf") format("truetype"), url("../fonts/Trebuchet-MS-Regular_.svg#Trebuchet-MS-Regular_") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: "Trebuchet-MS-Italic"; src: url("../fonts/Trebuchet-MS-Italic.eot"); src: url("../fonts/Trebuchet-MS-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Trebuchet-MS-Italic.woff") format("woff"), url("../fonts/Trebuchet-MS-Italic.ttf") format("truetype"), url("../fonts/Trebuchet-MS-Italic.svg#Trebuchet-MS-Italic") format("svg"); font-weight: normal; font-style: italic; }

@font-face { font-family: "MonotypeCorsiva"; src: url("../fonts/monotype_corsiva.eot"); src: url("../fonts/monotype_corsiva.eot") format("embedded-opentype"), url("../fonts/monotype_corsiva.woff") format("woff"), url("../fonts/monotype_corsiva.ttf") format("truetype"), url("../fonts/monotype_corsiva.svg#MonotypeCorsivaRegular") format("svg"); }

.top { padding: 35px 0; text-align: center; }

.l-content:before, .l-content:after { content: ""; display: table; }
.l-content:after { clear: both; }

.l-content_b { -webkit-box-shadow: 0px -25px 36px -29px #cccccc; -moz-box-shadow: 0px -25px 36px -29px #cccccc; box-shadow: 0px -25px 36px -29px #cccccc; padding-top: 38px; }

.sidebar { float: left; width: 220px; }

.content { float: right; width: 720px; }

.hotline { margin-bottom: 25px; font-family: Trebuchet-MS, sans-serif; }

.hotline__title { font-size: 14px; color: #666666; }

.hotline__number { font-size: 24px; font-weight: bold; color: #e10000; }

.sidebar-menu li { margin-bottom: 18px; }

.sidebar-menu__link { font: 20px Calibri, sans-serif; text-decoration: underline; color: #bc8d03; }
.sidebar-menu__link:hover { color: #cc0000; }
.sidebar-menu__link:active { color: #990000; }

.sidebar-menu__link.current { color: #cc0000; text-decoration: none; }

a.feedback { position: relative; display: inline-block; padding-left: 62px; font-size: 18px; color: #40688e; text-decoration: none; }
a.feedback:before { content: ""; position: absolute; top: 5px; left: 0px; background: url('../img/icons-sab2538c200.png') 0 -644px no-repeat; width: 53px; height: 39px; }
a.feedback:hover { text-decoration: underline; color: #40688e; }
a.feedback:active { color: #003366; }

.postcard { position: relative; padding: 53px 60px; }
.postcard:after { content: ""; position: absolute; top: 2px; left: -19px; background: url('../img/icons-sab2538c200.png') 0 -126px no-repeat; width: 688px; height: 508px; }

.postcard__buttons { position: relative; padding: 20px 0 20px 132px; z-index: 2; }
.postcard__buttons button { margin-right: 60px; }

.rules { width: 654px; margin-left: 66px; font: 24px Calibri, sans-serif; color: #40688e; }
.rules p { margin-bottom: 33px; }

.l-about { width: 620px; text-align: center; }

.about { margin-bottom: 40px; }

.about_mod { width: 459px; margin: 0 auto 40px; }

.about__title { font: italic 19px Trebuchet-MS-Italic, sans-serif; color: #666666; }

.pack-list { margin-top: 20px; }
.pack-list:before, .pack-list:after { content: ""; display: table; }
.pack-list:after { clear: both; }

.pack { float: left; width: 33.3%; min-height: 150px; margin-bottom: 15px; text-align: center; }
.pack label { display: inline-block; cursor: pointer; }

.pack__title { display: inline-block; width: 100%; height: 32px; margin-bottom: 5px; }

.bill-list { padding-top: 15px; }
.bill-list:before, .bill-list:after { content: ""; display: table; }
.bill-list:after { clear: both; }

.bill { float: left; width: 50%; }
.bill div { font-size: 48px; color: #e10202; }
.bill p { font: italic 14px Trebuchet-MS-Italic, sans-serif; color: #666666; }

.bill__text { margin-top: 10px; font: italic 16px Trebuchet-MS-Italic, sans-serif; color: #666666; }

.presents-list { text-align: center; }

.present { margin-top: 15px; width: 49%; display: inline-block; vertical-align: top; }

.present__img { margin-bottom: 30px; }

.present__text { font: italic 14px Trebuchet-MS-Italic, sans-serif; color: #666666; }

.note-text { color: #e10000; }

.notes { position: relative; clear: both; font: italic 12px Trebuchet-MS-Italic, sans-serif; color: #999999; }

.reg-steps { width: 587px; margin: 15px auto 0; }

.reg { margin-bottom: 10px; }
.reg:before, .reg:after { content: ""; display: table; }
.reg:after { clear: both; }

.reg_mod { margin-bottom: 70px; }

.reg__left { float: left; width: 187px; -moz-box-sizing: border-box; box-sizing: border-box; padding-right: 10px; font-size: 16px; color: #666666; }

.reg__right { position: relative; float: left; width: 400px; }
.reg__right input { vertical-align: top; }
.reg__right .pack-list { margin-top: 0; }

.datepicker { display: none; position: absolute; top: 0px; right: 0px; width: 182px; z-index: 99; }

.datepicker.is-open { display: block; }

.calendar { position: relative; display: inline-block; width: 40px; height: 40px; margin-left: 6px; background: url(../img/btn-small.png) 0 0 no-repeat; cursor: pointer; }
.calendar:after { content: ""; position: absolute; top: 3px; left: 7px; background: url('../img/icons-sab2538c200.png') 0 -1008px no-repeat; width: 27px; height: 32px; }
.calendar:hover { background: url(../img/btn-small-hover.png) 0 0 no-repeat; }
.calendar:active { background: url(../img/btn-small-active.png) 0 0 no-repeat; }

.hint { position: relative; margin: 5px 0; font: italic 12px Trebuchet-MS-Italic, sans-serif; color: #999999; cursor: pointer; }
.hint span { display: inline-block; border-bottom: 1px dotted; line-height: 1; }

.hint__bill { display: none; position: absolute; top: -52px; right: 0px; width: 182px; z-index: 999; }
.hint__bill img { width: 100%; }

.hint__bill.is-active { display: block; }

.l-reg-submit { margin-bottom: 145px; }
.l-reg-submit:before, .l-reg-submit:after { content: ""; display: table; }
.l-reg-submit:after { clear: both; }

.reg-submit { width: 561px; float: right; }
.reg-submit .feedback { width: 295px; color: #e10000; font-size: 14px; margin-left: 30px; }
.reg-submit .feedback span { position: relative; top: 6px; line-height: 1; border-bottom: 1px dotted; }
.reg-submit .feedback span:hover { border-bottom: none; }
.reg-submit .feedback:hover { text-decoration: none; }

.ui-datepicker-inline { width: 182px; }

.ui-datepicker-header { position: relative; height: 32px; }

.ui-datepicker-prev { position: absolute; top: 0px; left: 0px; width: 26px; height: 32px; cursor: pointer; }
.ui-datepicker-prev .ui-icon { display: inline-block; font: 0/0 a; text-shadow: none; color: transparent; background: url('../img/icons-sab2538c200.png') 0 -1138px no-repeat; width: 10px; height: 12px; }
.ui-datepicker-prev:hover .ui-icon { background: url('../img/icons-sab2538c200.png') 0 -1196px no-repeat; width: 10px; height: 12px; }

.ui-datepicker-prev.ui-state-disabled .ui-icon { background: url('../img/icons-sab2538c200.png') 0 -1072px no-repeat; width: 10px; height: 12px; }

.ui-datepicker-next { position: absolute; top: 0px; right: 0px; cursor: pointer; width: 26px; height: 32px; text-align: right; }
.ui-datepicker-next .ui-icon { display: inline-block; font: 0/0 a; text-shadow: none; color: transparent; background: url('../img/icons-sab2538c200.png') 0 -1050px no-repeat; width: 10px; height: 12px; }
.ui-datepicker-next:hover .ui-icon { background: url('../img/icons-sab2538c200.png') 0 -1116px no-repeat; width: 10px; height: 12px; }

.ui-datepicker-next.ui-state-disabled .ui-icon { background: url('../img/icons-sab2538c200.png') 0 -1160px no-repeat; width: 10px; height: 12px; }

.ui-datepicker-title { padding: 0 26px; text-align: center; line-height: 32px; font-size: 13px; color: #666666; }

.ui-datepicker-calendar { width: 182px; }
.ui-datepicker-calendar span, .ui-datepicker-calendar a { font-size: 12px; color: #666666; }
.ui-datepicker-calendar a.ui-state-active { color: #e10000; }
.ui-datepicker-calendar tr { height: 22px; }

.ui-state-disabled span { color: #ccd1d7; }

.faq-list { margin: 0 0 0 32px; font-family: Calibri, Arial, sans-serif; }
.faq-list li { margin: 0 0 15px; }

.faq__title { font-size: 28px; line-height: 33px; font-weight: bold; padding: 2px 0 0; }
.faq__title span { cursor: pointer; font-weight: normal; color: #779ec4; text-decoration: underline; }
.faq__title span:hover { text-decoration: none; }

.faq__title.is-active span { text-decoration: none; color: #40688e; font-weight: bold; cursor: default; }

.faq__content { overflow: hidden; display: none; color: #40688e; font-size: 20px; line-height: 24px; font-weight: bold; padding: 0 0 0 30px; }
.faq__content p { padding: 14px 0 0; font-weight: normal; }
