@font-face { font-family: "Trebuchet-MS"; src: url("../fonts/Trebuchet-MS-Regular_.eot"); src: url("../fonts/Trebuchet-MS-Regular_.eot?#iefix") format("embedded-opentype"), url("../fonts/Trebuchet-MS-Regular_.woff") format("woff"), url("../fonts/Trebuchet-MS-Regular_.ttf") format("truetype"), url("../fonts/Trebuchet-MS-Regular_.svg#Trebuchet-MS-Regular_") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: "Trebuchet-MS-Italic"; src: url("../fonts/Trebuchet-MS-Italic.eot"); src: url("../fonts/Trebuchet-MS-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Trebuchet-MS-Italic.woff") format("woff"), url("../fonts/Trebuchet-MS-Italic.ttf") format("truetype"), url("../fonts/Trebuchet-MS-Italic.svg#Trebuchet-MS-Italic") format("svg"); font-weight: normal; font-style: italic; }

@font-face { font-family: "MonotypeCorsiva"; src: url("../fonts/monotype_corsiva.eot"); src: url("../fonts/monotype_corsiva.eot") format("embedded-opentype"), url("../fonts/monotype_corsiva.woff") format("woff"), url("../fonts/monotype_corsiva.ttf") format("truetype"), url("../fonts/monotype_corsiva.svg#MonotypeCorsivaRegular") format("svg"); }

* { margin: 0; padding: 0; }

html, body { height: 100%; }

body { min-width: 990px; font-family: Trebuchet-MS, Arial, Tahoma, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.2; }

a img, fieldset { border: none; }

a { color: #2c2c2c; text-decoration: none; }

p { line-height: 1.2; }

li { list-style: none; }

textarea, button, select, input { border: none; outline: none; font-family: Trebuchet-MS, Arial, Tahoma, sans-serif; }

button { line-height: 1; cursor: pointer; }
button::-moz-focus-inner { padding: 0; border: 0; }

table { border-spacing: 0; border-collapse: collapse; }

.l-wrapper { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -101px; background: url(../img/bg.jpg) 0 0 no-repeat; background-size: cover; }

.wrapper { position: relative; width: 990px; margin: 0 auto 20px; z-index: 10; }

.push { height: 101px; clear: both; }

.h1 { text-align: center; font: normal 45px MonotypeCorsiva, "Times New Roman", serif; color: #e10000; }

.header { padding: 0 25px; }
.header:before, .header:after { content: ""; display: table; }
.header:after { clear: both; }

.logo { float: left; width: 340px; margin-top: 16px; }
.logo a { display: block; background: url('../img/icons-sed3a259a6a.png') 0 0 no-repeat; width: 340px; height: 116px; }

.menu { float: left; margin-top: 60px; }
.menu:before, .menu:after { content: ""; display: table; }
.menu:after { clear: both; }
.menu li { display: inline-block; max-width: 124px; min-width: 82px; text-align: center; vertical-align: top; -moz-box-sizing: border-box; box-sizing: border-box; }
.menu li a { text-decoration: underline; text-transform: uppercase; color: #bc8d03; font: 14px Arial, sans-serif; }

.container { padding: 10px 25px 0; }

.l-footer { position: relative; height: 90px; background: white; }

.footer-top { position: absolute; top: -11px; height: 11px; width: 100%; background: url(../img/footer-border.png) 0 0 repeat-x; }

.footer { max-width: 990px; margin: 0 auto; -moz-box-sizing: border-box; box-sizing: border-box; padding-top: 40px; }
.footer:before, .footer:after { content: ""; display: table; }
.footer:after { clear: both; }

.copyrights { float: left; color: #69689c; margin-right: 10px; }

.footer__links { float: left; }
.footer__links li { display: inline-block; margin-right: 10px; }
.footer__links li a { color: #c39a1f; text-decoration: underline; }

.footer__socials { position: relative; top: -3px; float: left; color: #69689c; }
.footer__socials span { position: relative; top: -11px; }
.footer__socials ul { display: inline-block; }
.footer__socials ul li { display: inline-block; }

.vk { display: block; background: url('../img/icons-sed3a259a6a.png') 0 -164px no-repeat; width: 28px; height: 28px; }

.f { display: block; background: url('../img/icons-sed3a259a6a.png') 0 -202px no-repeat; width: 28px; height: 28px; }

.od { display: block; background: url('../img/icons-sed3a259a6a.png') 0 -126px no-repeat; width: 28px; height: 28px; }

@font-face { font-family: "Trebuchet-MS"; src: url("../fonts/Trebuchet-MS-Regular_.eot"); src: url("../fonts/Trebuchet-MS-Regular_.eot?#iefix") format("embedded-opentype"), url("../fonts/Trebuchet-MS-Regular_.woff") format("woff"), url("../fonts/Trebuchet-MS-Regular_.ttf") format("truetype"), url("../fonts/Trebuchet-MS-Regular_.svg#Trebuchet-MS-Regular_") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: "Trebuchet-MS-Italic"; src: url("../fonts/Trebuchet-MS-Italic.eot"); src: url("../fonts/Trebuchet-MS-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Trebuchet-MS-Italic.woff") format("woff"), url("../fonts/Trebuchet-MS-Italic.ttf") format("truetype"), url("../fonts/Trebuchet-MS-Italic.svg#Trebuchet-MS-Italic") format("svg"); font-weight: normal; font-style: italic; }

@font-face { font-family: "MonotypeCorsiva"; src: url("../fonts/monotype_corsiva.eot"); src: url("../fonts/monotype_corsiva.eot") format("embedded-opentype"), url("../fonts/monotype_corsiva.woff") format("woff"), url("../fonts/monotype_corsiva.ttf") format("truetype"), url("../fonts/monotype_corsiva.svg#MonotypeCorsivaRegular") format("svg"); }

@font-face { font-family: "Trebuchet-MS"; src: url("../fonts/Trebuchet-MS-Regular_.eot"); src: url("../fonts/Trebuchet-MS-Regular_.eot?#iefix") format("embedded-opentype"), url("../fonts/Trebuchet-MS-Regular_.woff") format("woff"), url("../fonts/Trebuchet-MS-Regular_.ttf") format("truetype"), url("../fonts/Trebuchet-MS-Regular_.svg#Trebuchet-MS-Regular_") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: "Trebuchet-MS-Italic"; src: url("../fonts/Trebuchet-MS-Italic.eot"); src: url("../fonts/Trebuchet-MS-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Trebuchet-MS-Italic.woff") format("woff"), url("../fonts/Trebuchet-MS-Italic.ttf") format("truetype"), url("../fonts/Trebuchet-MS-Italic.svg#Trebuchet-MS-Italic") format("svg"); font-weight: normal; font-style: italic; }

@font-face { font-family: "MonotypeCorsiva"; src: url("../fonts/monotype_corsiva.eot"); src: url("../fonts/monotype_corsiva.eot") format("embedded-opentype"), url("../fonts/monotype_corsiva.woff") format("woff"), url("../fonts/monotype_corsiva.ttf") format("truetype"), url("../fonts/monotype_corsiva.svg#MonotypeCorsivaRegular") format("svg"); }

.banner { position: relative; padding: 30px 60px 44px; text-align: center; font-family: Trebuchet-MS-Italic, sans-serif; font-style: italic; font-size: 19px; color: #505051; }

.banner__link { position: absolute; bottom: 20px; right: 29px; color: #e10000; font-size: 19px; font-family: Trebuchet-MS-Italic, sans-serif; font-style: italic; text-decoration: underline; }
.banner__link:after { content: ""; position: absolute; top: 6px; right: -26px; background: url('../img/icons-sed3a259a6a.png') 0 -240px no-repeat; width: 20px; height: 12px; }

.check { height: 125px; padding-left: 125px; -moz-box-sizing: border-box; box-sizing: border-box; overflow: hidden; -webkit-box-shadow: 0px -25px 36px -29px #cccccc, 0px 25px 36px -29px #cccccc; -moz-box-shadow: 0px -25px 36px -29px #cccccc, 0px 25px 36px -29px #cccccc; box-shadow: 0px -25px 36px -29px #cccccc, 0px 25px 36px -29px #cccccc; }
.check:before, .check:after { content: ""; display: table; }
.check:after { clear: both; }

.check__img { float: left; }

.check__text { float: left; width: 160px; text-align: center; padding: 30px 0; font-size: 19px; color: #505051; }

.check__button { float: left; margin: 27px; }
.check__button a { display: block; width: 396px; height: 71px; padding-top: 12px; text-align: center; font: italic 32px Calibri, sans-serif; color: #e50000; -moz-box-sizing: border-box; box-sizing: border-box; background: url(../img/check-btn.png) 0 0 no-repeat; }

.prize-list { margin-top: 39px; background: url(../img/clouds.png) 0% 100% no-repeat; }
.prize-list:before, .prize-list:after { content: ""; display: table; }
.prize-list:after { clear: both; }

.prize { float: left; width: 33%; -moz-box-sizing: border-box; box-sizing: border-box; text-align: center; }

.prize__title { padding-bottom: 20px; font-size: 24px; font-family: Trebuchet-MS-Italic, sans-serif; font-style: italic; color: #4f4f4f; }

.prize__img { min-height: 145px; overflow: hidden; }

.prize__text { padding: 0 70px; font-size: 19px; color: #666666; }

@font-face { font-family: "Trebuchet-MS"; src: url("../fonts/Trebuchet-MS-Regular_.eot"); src: url("../fonts/Trebuchet-MS-Regular_.eot?#iefix") format("embedded-opentype"), url("../fonts/Trebuchet-MS-Regular_.woff") format("woff"), url("../fonts/Trebuchet-MS-Regular_.ttf") format("truetype"), url("../fonts/Trebuchet-MS-Regular_.svg#Trebuchet-MS-Regular_") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: "Trebuchet-MS-Italic"; src: url("../fonts/Trebuchet-MS-Italic.eot"); src: url("../fonts/Trebuchet-MS-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Trebuchet-MS-Italic.woff") format("woff"), url("../fonts/Trebuchet-MS-Italic.ttf") format("truetype"), url("../fonts/Trebuchet-MS-Italic.svg#Trebuchet-MS-Italic") format("svg"); font-weight: normal; font-style: italic; }

@font-face { font-family: "MonotypeCorsiva"; src: url("../fonts/monotype_corsiva.eot"); src: url("../fonts/monotype_corsiva.eot") format("embedded-opentype"), url("../fonts/monotype_corsiva.woff") format("woff"), url("../fonts/monotype_corsiva.ttf") format("truetype"), url("../fonts/monotype_corsiva.svg#MonotypeCorsivaRegular") format("svg"); }
