@import "base"
* 
	margin: 0
	padding: 0 
	//-webkit-text-size-adjust: none
html, body 
	height: 100%
body
	min-width: 1025px
	font-family: Trebuchet-MS, Arial, Tahoma, sans-serif
	font-weight: normal 
	font-size: 14px
	line-height: 1.2
	//-webkit-transform: translate3d(0,0,0);
	//-weblit-backface-visibility: hidden;
// resets
a img, fieldset 
	border: none
a
	color: #2c2c2c 
	text-decoration: none
p
	line-height: 1.2
li 
	list-style: none
textarea, button, select, input
	border: none
	outline: none
	font-family: Trebuchet-MS, Arial, Tahoma, sans-serif
	+no-sel
button 
	line-height: 1
	cursor: pointer
	&::-moz-focus-inner
		padding: 0
		border: 0
table 
	border-spacing: 0
	border-collapse: collapse
// common styles
.l-wrapper
	min-height: 100%
	height: auto !important
	height: 100%
	margin: 0 auto -101px
	background: url(../img/bg.jpg) 0 0 repeat-y
	background-size: 100% 100%
.wrapper
	position: relative
	width: 990px
	margin: 0 auto 20px
	z-index: 10 
.push
	height: 101px
	clear: both
.h1
	text-align: center
	font: italic 36px Trebuchet-MS-Italic, Arial, Tahoma, sans-serif
	color: #e10000
.h2
	font: 24px Calibri, sans-serif
	color: #e10000	
.btn
	width: 166px
	height: 40px 
	background-color: #fff
	+background-image(linear-gradient(top, #fff 0%, #f5f5f5 100%)) 
	@include border-radius(6px)
	border: 1px solid #e6d5a3
	+box
	@include box-shadow(1px 2px 3px rgba(1,1,1,.06))
	font: italic 15px Trebuchet-MS-Italic, Arial, Tahoma, sans-serif
	color: #e10000
	&:hover
		background-color: #fff
		+background-image(linear-gradient(bottom, #f5f5f5 0%, #f5f5f5 19.04%, #fff 59.4%, #fff 100%))
	&:active
		background-color: #EBF3F5 	
		+background-image(linear-gradient(bottom, #ddebf1 0%, #ddebf1 19.04%, #f3f7f7 59.4%, #f3f7f7 100%))
	&.disabled
		color: #F3A2A4 
		background-color: #fff 
		+background-image(linear-gradient(bottom, #f5f5f5 0%, #f5f5f5 19.04%, #fff 59.4%, #fff 100%))
		border-color: #DABE7D
.btn_social
	width: 142px
	background: url(../img/btn-social.png) 0 0 no-repeat
.btn_small
	width: 90px
.btn_next
	width: 70px				
.input
	width: 200px
	height: 40px
	+box
	padding: 0 8px 
	border: 1px solid #d2d2d2
	@include border-radius(5px)
	background: #fff
	font: italic 19px Trebuchet-MS-Italic, Arial, Tahoma, sans-serif
	color: #666
	&.input_error, &.is-error
		box-shadow: inset 0 0 7px rgba(227,37,37,.75)
div.input
	font: italic 19px/36px Trebuchet-MS-Italic, Arial, Tahoma, sans-serif		
.input_short
	width: 149px
.input_shortest
	width: 70px
.input_reg
	width: 250px		
.input_long
	width: 420px
.l-select
	position: relative	
.select
	position: relative
	cursor: pointer
	&:after
		content: ""
		position: absolute
		top: 15px
		right: 12px
		+s(select)
.select__drop
	display: none
	position: absolute
	top: 40px
	left: 0px
	width: 100%	
	font: italic 19px Trebuchet-MS-Italic, Arial, Tahoma, sans-serif
	color: #666
	background: #fff
	border: 1px solid #d2d2d2
	+border-radius(5px)
	li
		cursor: pointer
		margin-bottom: 5px		
.radio
	display: inline-block
	position: relative
	input
		+opacity(0)
	input + span
		position: absolute
		top: 0px
		left: 0px
		width: 14px
		height: 14px 
		cursor: pointer
		+border-radius(7px)
		border: 1px solid #c4c2c2
		+box
		background: #d6d6d6
		+box-shadow(0 0 8px #fbbfbf)
	input:checked + span
		&:after
			content: ""
			position: absolute
			top: 2px
			left: 2px
			width: 8px
			height: 8px
			+border-radius(4px)
			background: #ed1c24
			+background-image(radial-gradient(center 33%, 126px 126px, #e10000 0%, #b11022 100%))
   	
.shadow
	+box-shadow(0px -25px 36px -29px #cccccc, 0px 25px 36px -29px #cccccc)
	
//header
.header
	padding: 0 25px
	+clr
.logo
	float: left
	width: 340px
	margin-top: 16px
	a
		display: block
		+s(logo)	
.menu
	float: left
	+clr
	width: 298px
	margin-top: 60px
	li
		float: left
		width: 33%
		text-align: center
		vertical-align: top
		+box
		a
			text-decoration: underline
			text-transform: uppercase
			color: #bc8d03
			font: 14px Arial, sans-serif
			&:hover
				text-decoration: none
			&:active
				color: #663300
				text-decoration: none
		a.current
			color: #e10000
			text-decoration: none
		a.profile-link
			display: inline-block
			width: 55px
			text-align: right
			text-decoration: none
			text-transform: none
			&:hover
				text-decoration: underline
			p
				font-size: 12px
.menu_right
	text-align: right
	li
		float: right
		width: auto
		max-width: 120px
		margin-right: 13px			
.avatar
	display: inline-block
	width: 35px
	height: 33px
	margin-bottom: 5px
	overflow: hidden
	+box
	border: 1px solid #dcdede 						
.container
	padding: 25px 25px 0				

// footer
.l-footer
	position: relative
	height: 101px
	background: #fff
.footer-top
	position: absolute
	top: -10px
	height: 11px
	width: 100%
	background: url(../img/footer-border.png) 0 0 repeat-x
.footer
	max-width: 1025px
	margin: 0 auto
	+clr
	+box
	padding-top: 40px
.copyrights
	float: left
	color: #69689c
	margin-right: 10px
.footer__links
	float: left
	li
		display: inline-block
		margin-right: 10px
		a
			color: #c39a1f
			text-decoration: underline
			&:hover
				text-decoration: none	
.footer__socials, .slider__socials
	position: relative
	top: -5px
	float: left
	color: #69689c
	span
		position: relative
		top: -7px
	ul
		display: inline-block
		li
			display: inline-block
.vk
	display: block
	+s(vk)
	&:hover
		+s(vk-hover)
	&:active
		+s(vk-active)
.f
	display: block
	+s(f)
	&:hover
		+s(f-hover)
	&:active
		+s(f-active)	
.od
	display: block
	+s(od)
	&:hover
		+s(od-hover)
	&:active
		+s(od-active)

// popups
.popup__text
	margin-bottom: 25px
.l-registr
	padding: 0 42px
.registr
	+clr
	height: 40px
	line-height: 40px
	margin-bottom: 20px 
.registr__left
	float: left
	width: 165px
	+box
	padding-right: 11px
	text-align: right
.registr__right
	position: relative 
	float: right
	width: 421px
	text-align: left
.registr__right_subm	
.password-hint
	display: block
	font: italic 12px Trebuchet-MS-Italic, Arial, Tahoma, sans-serif
	color: #999
	text-decoration: underline
	&:hover
		text-decoration: none
.registr__link
	display: inline-block
	margin-right: 73px
	color: #e10000
	vertical-align: bottom
	line-height: 1 
	span
		border-bottom: 1px dotted
.l-user-new
	padding: 0 40px
	margin-top: -20px		
.user-new
	position: relative
	text-align: left
	padding: 25px 0
	p
		margin-bottom: 10px
	input
		margin-right: 10px
	.form__error
		top: 20px
		left: 59%
		width: 50%
.user-new_first
	padding: 0 0 40px 0
.user-new__mail
	display: inline-block
	margin: 0 10px
	font: italic 19px Trebuchet-MS-Italic, Arial, Tahoma, sans-serif
	color: #666
.user-new__reg
	position: relative
	display: inline-block
	padding-left: 15px
	font: italic 12px Trebuchet-MS-Italic, Arial, Tahoma, sans-serif
	color: #e10000
	text-decoration: underline
	&:hover
		text-decoration: none
	&:before
		content: ""
		position: absolute
		top: 1px
		left: 0px
		+s(pen)										  			